{% extends 'base.html'%}

{% block body %}

    {% for mesg in get_flashed_messages() %}
      <h1>{{ mesg }}</h1>
    {% endfor %}
    <table>
        {% for img in images%}
        <tr>
            <td>
            <img src="{{img}}" width="100px" height="100px"/>
            </td>
            <td>
            <strong>{{img[14:-4]}}</strong>
            </td>
            <td>
                {% if email %}Rent:<a href="/rent_book/{{img[14:-4]}}">Here</a>{% endif %}
            </td>
        </tr>
        {%  endfor %}
    </table>
{% endblock %}